/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: 'Mulish', sans-serif; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
  color: #3d3d3d;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0; }

img {
  max-width: 100%; }

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff; }

ul,
ol {
  padding: 0;
  margin: 0; }

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 10px; }
  .section-title h4,
  .section-title h5 {
    color: #442175;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    font-family: 'Oswald', sans-serif; }
    .section-title h4:after,
    .section-title h5:after {
      position: absolute;
      left: 0;
      top: -6px;
      height: 32px;
      width: 4px;
      background: #B49AD9;
      content: ""; }

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

.spad {
  padding-bottom: 100px; }

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #442175; }

/* buttons */
.primary-btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #B49AD9;
  border-radius: 20px;
  padding: 6 8 8 12; }
  .primary-btn span {
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px; }

.site-btn {
  font-size: 13px;
  color: #ffffff;
  background: #B49AD9;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px; }

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000; }

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite; }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent; } }
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent; }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent; }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent; } }
.spacial-controls {
  position: fixed;
  width: 111px;
  height: 91px;
  top: 0;
  right: 0;
  z-index: 999; }

.spacial-controls .search-switch {
  display: block;
  height: 100%;
  padding-top: 30px;
  background: #323232;
  text-align: center;
  cursor: pointer; }

.search-model {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 99999; }

.search-model-form {
  padding: 0 15px; }

.search-model-form input {
  width: 500px;
  font-size: 40px;
  border: none;
  border-bottom: 2px solid #333;
  background: 0 0;
  color: #999; }

.search-close-switch {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 28px;
  line-height: 28px;
  top: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* noti */
.notify-show {
  position: fixed;
  bottom: 5%;
  right: 30%;
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  animation: fadeInOut 8s forwards;
  z-index: 1000; }
  .notify-show .notify-icon {
    width: 24px;
    height: 24px;
    background-image: url("./img/ico/ava.ico");
    background-size: cover;
    margin-right: 10px; }
  .notify-show .notify-text {
    font-size: 14px; }
@keyframes fadeInOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .notify-show .notify-close {
    margin-left: auto;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
