body {
  position: relative;
  margin: 0;
  padding: 0; }

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/ava/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  z-index: -1; }
