.schedule-note {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  margin: 0 50px;
  text-align: center; }

.schedule__week__block {
  display: flex;
  width: 100%;
  gap: 30px;
  margin: 30px;
  overflow: hidden;
  align-content: center;
  flex-direction: column; }
  .schedule__week__block .schedule-block {
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    display: flex;
    border: 3px dotted #b49cd7;
    border-radius: 30px; }
    .schedule__week__block .schedule-block .schedule-title {
      flex: 1;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      align-content: center;
      margin-right: 15px; }
      .schedule__week__block .schedule-block .schedule-title span {
        font-size: 12px;
        background-color: azure;
        padding: 3 20;
        border-radius: 15px; }
      .schedule__week__block .schedule-block .schedule-title img {
        height: 130px; }
    .schedule__week__block .schedule-block .swiper {
      flex: 8;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden; }
      .schedule__week__block .schedule-block .swiper .swiper-wrapper {
        display: flex;
        align-items: center; }
      .schedule__week__block .schedule-block .swiper .swiper-slide {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; }
        .schedule__week__block .schedule-block .swiper .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 8px; }
        .schedule__week__block .schedule-block .swiper .swiper-slide .schedule-item {
          width: 100%;
          position: relative; }
          .schedule__week__block .schedule-block .swiper .swiper-slide .schedule-item .item-name {
            z-index: 5;
            background-color: #b49cd7; }
