body {
    margin: 0;
    font-family: 'Mulish', sans-serif;

    header {
        padding: 10px 20px;
        background-color: #B49AD9;
        color: white;

        .container {
            max-width: 1200px;
            margin: 10px 12%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            a.navigate-btn{
                color: #ffffff !important;
            }

            .head-el {
                display: flex;
                align-items: center;
            }

            .web-logo {
                width: 150px;
                height: 40px;
                background-image: url('../img/ico/RờTêTê.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .header-bar {
                display: flex;
                gap: 40px;
                list-style-type: none;
                font-weight: 600;

                li {
                    cursor: pointer;
                }
            }

            .login-signup {
                margin-left: 10px;
                padding: 5px 10px;
                cursor: pointer;

                .login-signup-icon {
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/ico/user.png');
                    background-size: cover;
                    cursor: pointer;
                }

                .search-icon {
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/ico/search.png');
                    background-size: cover;
                    margin-right: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}