@import 'mixins.scss';
@import 'variable.scss';

/*---------------------
  Product
-----------------------*/
.product {
  padding-bottom: 60px;

}

.row {
  .product__container {
    padding: 50px;
    background-color: rgba(235, 226, 247, 0.8);
    border-radius: 10px;
  }
}

.product-page {
  padding-top: 60px;
}

.btn__all {
  text-align: right;
  margin-bottom: 30px;
}

.trending__product {
  margin-bottom: 50px;
}

.popular__product {
  margin-bottom: 50px;
}

.recent__product {
  margin-bottom: 50px;
}

.product__item {
  margin-bottom: 30px;
}

.col-lg-2.col-md-4.col-sm-3 {
  .product__item__pic {
    height: 200px;
    position: relative;
    border-radius: 5px;
  }
}

.product__item__pic {
  height: 230px;
  position: relative;
  border-radius: 5px;

  .ep {
    font-size: 11px;
    color: $white-color;
    background: $primary-color;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    box-shadow: 0 0 10px #ffffff;
  }

  /* Chưa hoàn = đỏ */
  .ep-chua {
    background: red;
  }

  /* Đã hoàn = xanh lá */
  .ep-da {
    background: rgb(62, 222, 62);
  }

  .comment {
    font-size: 13px;
    color: $white-color;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  .view {
    font-size: 13px;
    color: $white-color;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.product__item__text {
  padding-top: 10px;

  ul {
    margin-bottom: 10px;

    li {
      list-style: none;
      font-size: 12px;
      color: $primary-color;
      font-weight: 700;
      padding: 3px 0;
      margin: 0 3px;
      border-radius: 50px;
    }
  }

  .product__chapter__info {
    display: flex;
    justify-content: space-between;

    .product__date {
      color: white;
      background-color: red;
      padding: 2px 6px;
      border-radius: 4px;
      font-weight: bold;
    }

    .product__chapter {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 0 15px 0 10px;
      border-radius: 20px;
    }
  }

  h5 {

    a {
      color: $secondary-color;
      font-weight: 700;
      font-size: smaller;
    }
  }
}


.product__sidebar {

  .section-title {

    h5 {
      color: $secondary-color;
      font-weight: 600;
      font-family: 'Oswald', sans-serif;
      line-height: 21px;
      text-transform: uppercase;
      padding-left: 20px;
      position: relative;

      &:after {
        position: absolute;
        left: 0;
        top: -6px;
        height: 32px;
        width: 4px;
        background: $primary-color;
        content: "";
      }
    }
  }

  .fb-link {
    display: block;
    width: 100%;
    height: 150px;
    background-image: url('../img/ava/logo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }
}

.product__sidebar__notice {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: $primary-color;
  border-radius: 20px;
  padding: 15px;
}

.product__sidebar__view {
  position: relative;

  .filter__controls {
    position: absolute;
    right: 0;
    top: -5px;

    li {
      list-style: none;
      font-size: 13px;
      color: #b7b7b7;
      display: inline-block;
      margin-right: 7px;
      cursor: pointer;

      &.active {
        color: $white-color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.product__sidebar__view__item {
  height: 190px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden; // rất quan trọng

  // lớp phủ gradient
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%; // độ cao của bóng
    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0));
    pointer-events: none;
  }

  .ep {
    font-size: 13px;
    color: $white-color;
    background: $primary-color;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2; // nổi lên trên

  }

  .view {
    font-size: 13px;
    color: $white-color;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
  }

  h5 {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    padding: 0 30px 0 20px;
    z-index: 3; // để nằm trên layer gradient

    a {
      color: $white-color;
      font-weight: 700;
      line-height: 26px;
    }
  }
}


.product__sidebar__comment {
  margin-bottom: 35px;
}

.product__sidebar__comment__item {
  margin-bottom: 20px;
  overflow: hidden;
}

.product__sidebar__comment__item__pic {
  float: left;
  margin-right: 15px;
}

.product__sidebar__comment__item__text {
  overflow: hidden;

  ul {
    margin-bottom: 10px;

    li {
      list-style: none;
      font-size: 10px;
      color: $white-color;
      font-weight: 700;
      padding: 1px 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      display: inline-block;
    }
  }

  h5 {
    margin-bottom: 10px;

    a {
      color: $white-color;
      font-weight: 700;
      line-height: 26px;
    }
  }

  span {
    display: block;
    font-size: 13px;
    color: #b7b7b7;
  }
}

.product__page__title {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  margin-bottom: 30px;

  .section-title {
    margin-bottom: 0;
  }

  .product__page__filter {
    text-align: right;

    p {
      color: $white-color;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 16px;
    }

    .nice-select {
      float: none;
      display: inline-block;
      font-size: 15px;
      color: #3d3d3d;
      font-weight: 700;
      border-radius: 0;
      padding-left: 15px;
      padding-right: 40px;
      height: 32px;
      line-height: 32px;

      &:after {
        border-bottom: 2px solid #111;
        border-right: 2px solid #111;
        height: 8px;
        top: 47%;
        width: 8px;
        right: 15px;
      }

      .list {
        margin-top: 0;
        border-radius: 0;
      }
    }
  }
}

.product__pagination {
  padding-top: 15px;

  a {
    display: inline-block;
    font-size: 15px;
    color: #b7b7b7;
    font-weight: 600;
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    @include transition(all, .3s);

    &:hover {
      color: #ffffff;
    }

    &.current-page {
      border: 1px solid #ffffff;
    }

    i {
      color: #b7b7b7;
      font-size: 15px;
    }
  }
}