/*---------------------
  Anime Details
-----------------------*/
.anime__details__text {
  position: relative; }
  .anime__details__text p {
    color: #442175;
    font-size: 15px;
    line-height: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px; }

.row.product__container {
  background-color: white; }

.anime__details__pic {
  height: 500px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); }
  .anime__details__pic .like {
    font-size: 13px;
    color: #442175;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 25px; }
  .anime__details__pic .view {
    font-size: 13px;
    color: #442175;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    bottom: 25px; }

.anime__details__title {
  margin-bottom: 20px; }
  .anime__details__title h3 {
    color: #442175;
    font-weight: 700;
    margin-bottom: 13px; }
  .anime__details__title span {
    font-size: 15px;
    color: #442175;
    display: block;
    font-style: italic; }

.anime__details__widget {
  margin-bottom: 15px; }
  .anime__details__widget ul {
    margin-bottom: 20px; }
    .anime__details__widget ul li {
      list-style: none;
      font-size: 15px;
      color: #442175;
      line-height: 30px;
      position: relative;
      padding-left: 18px;
      font-weight: bolder; }
      .anime__details__widget ul li:before {
        position: absolute;
        left: 0;
        top: 12px;
        height: 6px;
        width: 6px;
        background: #B49AD9;
        content: none; }
      .anime__details__widget ul li span {
        font-weight: normal;
        color: #442175;
        width: 115px;
        display: inline-block; }

.anime__details__btn .raw-btn,
.anime__details__btn .follow-btn {
  font-size: 13px;
  color: #ffffff;
  background: #B49AD9;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 4px;
  margin-right: 11px; }
.anime__details__btn .raw-btn {
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: center;
  letter-spacing: 0px;
  font-size: 15px;
  background: transparent;
  color: red;
  background-color: white;
  border-radius: 50px; }
.anime__details__btn .watch-btn span {
  font-size: 13px;
  color: #ffffff;
  background: #B49AD9;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  margin-right: 1px; }
.anime__details__btn .watch-btn i {
  font-size: 20px;
  display: inline-block;
  background: #B49AD9;
  padding: 11px 5px 16px 8px;
  color: #ffffff;
  border-radius: 0 4px 4px 0; }

.anime__details__tags {
  padding: 0 0 20px 20px; }
  .anime__details__tags a {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #B49AD9;
    font-size: 13px;
    transition: all 0.3s;
    background: rgba(68, 33, 117, 0.4);
    color: #ffffff; }

.chapter-list {
  padding: 15px; }
  .chapter-list ul {
    margin-bottom: 20px;
    color: #442175;
    display: flex;
    flex-wrap: wrap; }
    .chapter-list ul li {
      padding: 10px;
      list-style: none;
      border-bottom: 1px solid #ccc;
      font-weight: 500;
      width: 50%; }
      .chapter-list ul li a {
        display: flex; }
      .chapter-list ul li .chapter-status {
        font-style: italic;
        color: #a07fcd;
        font-weight: normal; }
      .chapter-list ul li .new {
        background-color: red;
        color: white;
        padding: 2px 6px;
        border-radius: 4px; }
    .chapter-list ul li:hover {
      background: rgba(255, 255, 255, 0.8); }

.anime__details__review {
  margin-bottom: 55px; }

.anime__review__item {
  overflow: hidden;
  margin-bottom: 15px; }

.anime__review__item__pic {
  float: left;
  margin-right: 20px;
  position: relative; }
  .anime__review__item__pic:before {
    position: absolute;
    right: -30px;
    top: 15px;
    border-top: 15px solid transparent;
    border-left: 15px solid #1d1e39;
    content: "";
    transform: rotate(45deg); }
  .anime__review__item__pic img {
    height: 50px;
    width: 50px;
    border-radius: 50%; }

.anime__review__item__text {
  overflow: hidden;
  background: white;
  padding: 18px 30px 16px 20px;
  border-radius: 10px; }
  .anime__review__item__text h6 {
    color: #442175;
    font-weight: 700;
    margin-bottom: 10px; }
    .anime__review__item__text h6 span {
      color: #B49AD9;
      font-weight: 400; }
  .anime__review__item__text p {
    color: #442175;
    line-height: 23px;
    margin-bottom: 0; }
  .anime__review__item__text .review-pic {
    width: 30%; }

.anime__details__form form textarea {
  width: 100%;
  font-size: 15px;
  color: #b7b7b7;
  padding-left: 20px;
  padding-top: 12px;
  height: 110px;
  border: none;
  border-radius: 5px;
  resize: none;
  margin-bottom: 24px; }
.anime__details__form form button {
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #B49AD9;
  border: none;
  padding: 10px 15px;
  border-radius: 2px; }
.anime__details__form .section-title h6 {
  color: #442175;
  padding: 10px;
  font-style: italic; }

.pagination {
  display: flex;
  gap: 15px;
  justify-content: center; }
  .pagination button {
    font-size: 23px;
    padding: 6px 14px;
    background: #B49AD9;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    border: none; }

.pagination button:hover {
  background: #f8f1ff;
  color: #442175; }

.cross-line {
  border-bottom: 2px solid #ccc;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 20px; }
