@import 'variable.scss';

/*---------------------
  Anime Details
-----------------------*/

.anime__details__text {
    position: relative;

    p {
        color: $secondary-color;
        font-size: 15px;
        line-height: 30px;
        background-color: white;
        padding: 20px;
        border-radius: 20px;

    }
}

.row.product__container {
    background-color: white;
}

.anime__details__pic {
    height: 500px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    .like {
        font-size: 13px;
        color: $secondary-color;
        background: #3d3d3d;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        position: absolute;
        left: 10px;
        bottom: 25px;
    }

    .view {
        font-size: 13px;
        color: $secondary-color;
        background: #3d3d3d;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        position: absolute;
        right: 10px;
        bottom: 25px;
    }
}

.anime__details__title {
    margin-bottom: 20px;

    h3 {
        color: $secondary-color;
        font-weight: 700;
        margin-bottom: 13px;
    }

    span {
        font-size: 15px;
        color: $secondary-color;
        display: block;
        font-style: italic;
    }
}

.anime__details__widget {
    margin-bottom: 15px;

    ul {
        margin-bottom: 20px;

        li {
            list-style: none;
            font-size: 15px;
            color: $secondary-color;
            line-height: 30px;
            position: relative;
            padding-left: 18px;
            font-weight: bolder;

            &:before {
                position: absolute;
                left: 0;
                top: 12px;
                height: 6px;
                width: 6px;
                background: $primary-color;
                content: none;
            }

            span {
                font-weight: normal;
                color: $secondary-color;
                width: 115px;
                display: inline-block;
            }
        }
    }
}

.anime__details__btn {

    .raw-btn,
    .follow-btn {
        font-size: 13px;
        color: $white-color;
        background: $primary-color;
        display: inline-block;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 14px 20px;
        border-radius: 4px;
        margin-right: 11px;
    }

    .raw-btn {
        width: 100%;
        padding: 10px;
        margin: 0;
        text-align: center;
        letter-spacing: 0px;
        font-size: 15px;
        background: transparent;
        color: red;
        background-color: white;
        border-radius: 50px;

    }

    .watch-btn {

        span {
            font-size: 13px;
            color: $white-color;
            background: $primary-color;
            display: inline-block;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 14px 20px;
            border-radius: 4px 0 0 4px;
            margin-right: 1px;
        }

        i {
            font-size: 20px;
            display: inline-block;
            background: $primary-color;
            padding: 11px 5px 16px 8px;
            color: $white-color;
            border-radius: 0 4px 4px 0;
        }
    }
}

.anime__details__tags {
    padding: 0 0 20px 20px;

    a {
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 4px;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 13px;
        transition: all 0.3s;
        background: rgba(#442175, 0.4);
        color: $white-color;
    }
}

.chapter-list {
    padding: 15px;

    ul {
        margin-bottom: 20px;
        color: $secondary-color;
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 10px;
            list-style: none;
            border-bottom: 1px solid #ccc;
            font-weight: 500;
            width: 50%;

            a {
                display: flex;
            }

            .chapter-status {
                font-style: italic;
                color: #a07fcd;
                font-weight: normal;
            }

            .new {
                background-color: red;
                color: white;
                padding: 2px 6px;
                border-radius: 4px;
            }
        }

        li:hover {
            background: rgba(#ffffff, 0.8);
        }
    }
}

.anime__details__review {
    margin-bottom: 55px;
}

.anime__review__item {
    overflow: hidden;
    margin-bottom: 15px;
}

.anime__review__item__pic {
    float: left;
    margin-right: 20px;
    position: relative;

    &:before {
        position: absolute;
        right: -30px;
        top: 15px;
        border-top: 15px solid transparent;
        border-left: 15px solid #1d1e39;
        content: "";
        transform: rotate(45deg);
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.anime__review__item__text {
    overflow: hidden;
    background: white;
    padding: 18px 30px 16px 20px;
    border-radius: 10px;

    h6 {
        color: $secondary-color;
        font-weight: 700;
        margin-bottom: 10px;

        span {
            color: $primary-color;
            font-weight: 400;
        }
    }

    p {
        color: $secondary-color;
        line-height: 23px;
        margin-bottom: 0;
    }

    .review-pic {
        width: 30%;
    }
}

.anime__details__form {

    form {

        textarea {
            width: 100%;
            font-size: 15px;
            color: #b7b7b7;
            padding-left: 20px;
            padding-top: 12px;
            height: 110px;
            border: none;
            border-radius: 5px;
            resize: none;
            margin-bottom: 24px;
        }

        button {
            font-size: 11px;
            color: $white-color;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            background: $primary-color;
            border: none;
            padding: 10px 15px;
            border-radius: 2px;
        }
    }

    .section-title {
        h6 {
            color: $secondary-color;
            padding: 10px;
            font-style: italic;

        }
    }
}


.pagination {
    display: flex;
    gap: 15px;
    justify-content: center;

    button {
        font-size: 23px;
        padding: 6px 14px;
        background: $primary-color;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        border: none;
    }
}

.pagination button:hover {
    background: rgb(248, 241, 255);
    color: $secondary-color;
}

.cross-line {
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px;

}