$primary-color: #B49AD9;
$secondary-color: #442175;
$white-color: #ffffff;
$heading-color: #111111;
$para-color: #D3C4F2;
$black-color: #442175;
$heading-color-2: #442175;
$normal-color: #ffffff;
$background: #ffffff;
$background-2: #ffffff;
$border: #442175;;
$border-1: #ffffff;


$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;